:root {
	--color-background: #e4e1e0;
	--color-background-secondary: #0b090a;
	--color-background-navside: #333333;
	--color-background-card: #eeeeee;
	--color-background-input: #e3e1e0;
	--color-background-footer: #111111;

	--color-primary: #d90429;
	--color-secondary: #fb8500;
	--color-danger: #e62f4d;

	--color-border: #8d99ae;
	--color-button-hover: #ef233c;
	--color-card-shadow: #565656;

	--color-text-base: #141414;
	--color-text-in-dark: #edf2f4;
	--color-text-title: #ef233c;
}
